@font-face {
    font-family: 'NeoSansStdBold';
    src: url('fonts/NeoSansStd-Bold.woff2') format('woff2'),
         url('fonts/NeoSansStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'NeoSansStdExtraBold';
    src: url('fonts/NeoSansStd-ExtraBold.woff2') format('woff2'),
         url('fonts/NeoSansStd-ExtraBold.woff') format('woff');
    font-weight: extra-bold;
    font-style: normal;
    font-display: optional;
}

@font-face {
    font-family: 'NeoSansStdRegular';
    src: url('fonts/NeoSansStd-Regular.woff2') format('woff2'),
         url('fonts/NeoSansStd-Regular.woff') format('woff'),
         url('fonts/NeoSansStd-Regular.ttf') format('truetype'),
         url('fonts/NeoSansStd-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Neo Sans Std', sans-serif !important;
    color: #666;
    /*background: #f2f2f2;*/ 
    font-size: 1em;
    line-height: 1.5em;
    background-image: url("img/fondo 1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1, h2, h3 {
    font-family: 'NeoSansStdBold', sans-serif;
}

strong {
    font-family: 'NeoSansStdExtraBold', sans-serif;
}
#container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


#main-header {
    /* background: #3E3E3E; */
    color: white;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}   

#main-header img {
    margin-right: 10%; /* Ajusta este valor según tus necesidades */
    width: 200px;
    /*height: 150px;*/
    margin-top: 50px;
}
#main-header a {
    color: white;
    }

    /*#header {
        display: flex;
        justify-content: center; /* Centra horizontalmente 
        align-items: center;    /* Centra verticalmente 
        height: 100px;          /* Ajusta la altura del header según tus necesidades 
    }*/
    
/* #logo-header {
        padding: 0;
        text-align: center;
    }
    
    #logo-header img {
        max-height: 100%;       /* Asegúrate de que la imagen no se salga del header 
    }*/

h2 {
    font-size: 30px !important;
    /*text-align: center;*/
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}
    
nav ul li {
    display: inline-block;
    line-height: 80px;
}
            
nav ul li a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
}


/*Pie de Página*/
#main-footer {
    background: #F37D2B;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    display: flex;
    height: 80px;
    justify-content: space-between; /* Distribuir los elementos de manera equitativa */
    flex-shrink: 0;
}

.card {
    margin-left: 10px;
    margin-right: 10px;
}

.formulario .card-body{
    margin: auto;
    background-color: #ffffff;
    /*z-index: -9;*/
    border-radius: 20px 20px 20px 20px;
    /*display:inline-block;*/
    vertical-align: top;
}
.formulario .card-body-l, .formulario .card-body-r{
    display:inline-block;
    width:210px;
}
.card{
    background:transparent;
    border:none;
}
/* #main-footer */
.footer-left,
#main-footer .footer-right {
    flex: 1; /* Hacer que cada división ocupe la mitad del ancho del contenedor */
    padding: 10px; /* Añadir un poco de padding interno */
    display: flex; /* Hacer que los contenedores sean flexibles */
    align-items: center; /* Alinear verticalmente al centro */
    margin-left: 3%;
    margin-right: 3%;
}

#main-footer .footer-left {
    justify-content: flex-start; /* Mueve el contenido a la izquierda */
}

#main-footer .footer-right {
    justify-content: flex-end; /* Mueve los iconos a la derecha */
}
/* #main-footer */
.footer-right a {
    color: #333333;
    margin: 0 20px;
    /*padding: 27px 0 0 20px;*/
    text-decoration: none;
    font-size: 24px; /* Tamaño del icono */
}

#main-footer p {
    margin: 0;
    font-size: 12px;
}

#main-footer a {
    color: #FFFFFF;
}



/* Estilos de la nueva sección */
#main-section {
    display: flex;
    flex: 1; /* Para que esta sección ocupe todo el espacio disponible */
    height: calc(100vh - 160px); /* Igual a la altura del header y footer */
    /* background-color: #F3F3F3; */
}

/*#main-section .section-left{
    /* background-color: #8C8C8C; 
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-section .section-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
}

.image-container .first-image {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-container .second-image {
    margin-top: 100px; /* Ajusta este valor para controlar la separación entre las dos imágenes
}*/

#main-section .section-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    margin-left: 30%;
}

.image-slide {
    position: absolute;
    top: -350px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.image-slide.active {
    opacity: 1;
}

#main-section .section-right {
    flex: 1;
    /* background-color: #FFFFFF; */
}

/*#main-section .section-left img {
    text-align: center;
    display: block;
    width: 80%;
    height: 80%;
    object-fit: contain;  justa la imagen para que cubra el contenedor sin deformarse.
}*/


/* Formulario */

.formulario {
    display: flex;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formulario input {
    margin-bottom: 1px;
    
}
button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.1s ease, box-shadow 0.1s ease; /* Transiciones con duraciones especificadas */
}

button:hover {
    background-color: #F37D2A;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.3);
    transition-delay: 0.1s;  /*Retraso antes de comenzar la transición */
}
.invalid-feedback {
    font-size: 14px !important;
    text-align: left;
}

.invalid-feedback img.warning-icon {
   /* margin-right: 8px;  Espacio entre el icono y el texto */
    width: 16px; /* Ajusta el tamaño del icono */
    height: 16px; /* Ajusta el tamaño del icono */
    margin-left: 4px;
}
.text-header{
    font-size: 36px;
    /* margin-top: 25%; */
}
.registrate-aqui{
    margin: 10px auto -16px auto;
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 0px;
    /*background-color: #8ed5ee; colo cuando llena el formulario*/
    background-color: #333333; /*colo cuando llena el formulario*/
    color: #161141;
    /* max-width: 250px; */
    border-radius: 17px 17px 0px 0px;
    font-weight: 900;
    line-height: 1.5rem;
    padding: 25px 25px 35px 25px;
}



.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 2px solid #F37D2A;
    border-radius: 20px;
    height: 50px;
    font-size: 1.5rem;
}


.form-group input:hover,
.form-group input:focus {
    border-width: 2px solid #333333;
}


.submit-btn {
    width: 49%;
    padding: 10px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 20px;
    cursor: not-allowed;
    font-size: 1.5rem;
    margin-top: 15px
}
#next1{
    float: right;
}
#back {
    background-color: #FFFFFF;
    color: #333333;
    border: 1px solid #333333;
    /*transition: border 0.3s ease;*/
    margin-right: 5px;
}
#back:hover {
    border: 2px solid #333333 !important; /* Borde de 2 píxeles con color azul al hacer hover */
    box-shadow: none; /* Desactivar la sombra del hover en el botón con id 'back' */
}

/*#back,
#complete {
    flex: 1; /* Hace que los botones se expandan para ocupar todo el ancho del formulario 
    padding: 10px; /* Ajusta el padding según tus necesidades 
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho del botón 
    margin: 5px; /* Espacio entre los botones y el borde del contenedor 
}*/
/*#complete {
    margin-left: 5px;  Espacio entre los botones
} */
.submit-btn:disabled {
    background-color: #eee;
}



/*Hacer que el boton sea negro cuando este activo*/
.active {
    /*background-color: #333333 !important;*/
    color: white;
}


/*Progress bar
.progress {
    position: relative;
}*/

.progress-container {
    position: relative;
    width: 500px; /* Ajusta el tamaño total de la barra de progreso aquí */
    margin: 20px auto; /* Centra la barra de progreso horizontalmente */
}

.progress-bar {
    width: 100%;
    height: 15px;
    background-color: #000;
    z-index: 2;
}

.progress {
    /*position: relative;*/
    height: 20px; /* Ajusta la altura de la barra de progreso aquí */
    background-color: #e0e0e0; /* Color de fondo de la barra de progreso */
    border-radius: 10px; /* Hace que los bordes sean redondeados */
    width: 100%; /* Asegura que la barra de progreso tome todo el ancho del contenedor */
}

.progress-bar-success {
    height: 100%; /* Asegura que la barra de progreso tenga la misma altura que el contenedor */
    /*background-color: #149100;  Color de la barra de progreso */
    z-index: 1; /* Asegura que la barra de progreso esté debajo de los círculos */
}

.progress::before,
.progress::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /*width: 20px;*/
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    z-index: 2;
}

.progress::before {
    left: 50%;
    margin-left: -6px; /* Half the width of the circle */
}
.progress::first {
    left: 0;
    margin-left: 6px; /* Half the width of the circle */
}
.progress::after {
    right: 0;
    margin-right: 0; /* Half the width of the circle */
}

/* labels */ 
.label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -25px;
}
.label.start {
    left: -40px;
    /* margin-top: -25px; */
}
.label.startf {
    left: -40px;
    margin-top: -25px;
}
.label.middle {
    left: 46%;
    transform: translateX(-50%); /* Center the circle */
    margin-left: 0px;
    /*margin-top: -25px;*/
}
.label.middlef {
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
    margin-left: 0px;
    margin-top: -25px;
}
.label.end {
    right: 20px;
    /*margin-top: -20px;*/
}
.label.endf {
    right: 20px;
    margin-top: -20px;
}
/* circulos */
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: -5px;
    z-index: 2;
}  
.circle.start {
    left: 0;
    margin-left: -1px;
}
.circle.start1 {
    left: -1px;
    background-color: #F37D2A;
}

.circle.middle {
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
}
.circle.middle1 {
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
    background-color: #D9D9D9;
}

.circle.middle2 {
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
    background-color: #F37D2A;
}

.circle.end {
    right: 0;
}
.circle.end1 {
    right: 0;
    background-color: #D9D9D9;
}
.circle.end2 {
    right: 0;
    background-color: #D9D9D9;
}
.circle.end3 {
    right: 0;
    background-color: #F37D2A;
    margin-right: -1px;
}
/* boton instagram */
.instagram-button {
    background-color: #333333;
    color: white;
    padding: 10px 70px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none; /* Esto quita el subrayado del enlace */
    display: inline-block; /* Esto hace que el enlace se comporte como un botón */
}
.check-imagen {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

/*@media only screen and (max-width: 992px) { 
    .progress-container {
        position: relative;
        width: 500px !important;  Ajusta el tamaño total de la barra de progreso aquí 
        margin: 20px auto;  Centra la barra de progreso horizontalmente 
    }

}*/
/* Estilos para iPhone 11 y modelos más recientes */
@media only screen and (max-width: 480px) {
    .submit-btn {
        width: 96%;
        padding: 10px 2px;
        display: inline-block;
        margin-right: 2.3%;
        margin-bottom: 10px;
    }
    .footer-right {
        margin-bottom: 10px;
        display: flex; /* Añadido */
        justify-content: center; /* Añadido */
        align-items: center; /* Añadido */
        margin-left: 35px !important; 
        margin-top: -10px;
        order: -1;
    }
    .progress-container {
        position: relative;
        width: 300px !important;  /*Ajusta el tamaño total de la barra de progreso aquí*/ 
        margin: 20px auto;  /*Centra la barra de progreso horizontalmente*/ 
    }
    .label.middle {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -9px !important;
    margin-top: 0px;
    }
    .label.middlef {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -10px !important;
    margin-top: 0px;
    }
    .label.end {
    right: 25px !important;
    margin-top: 0px !important;
    }
    .label.endf {
    right: 25px !important;
    margin-top: 0px !important;
    }
    .circle.start1 {
    left: 0;
    background-color: #F37D2A;
    margin-top: 15px;
    }
    .circle.middle1 {
    left: 50%;
    transform: translateX(-50%);
    background-color: #D9D9D9;
    margin-top: 15px;
    }
    .circle.end1 {
    right: 0;
    background-color: #D9D9D9;
    margin-top: 15px;
    }
    .circle.start {
    left: 0;
    margin-top: 15px;
    margin-left: -1px;
    }
    .circle.middle2 {
    left: 50%;
    transform: translateX(-50%);
    background-color: #149100;
    margin-top: 15px;
    }
    .circle.end2 {
    right: 0;
    background-color: #D9D9D9;
    margin-top: 15px;
    }
    .circle.middle {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    }
    .circle.end3 {
    right: 0;
    background-color: #149100;
    margin-top: 15px;
    margin-right: -1px;
    }
    .label.start {
    left: -20px;
    margin-top: 0px; 
    }
    .label.startf {
    left: -20px;
    margin-top: 0px; 
    }
}

/* Media Query para dispositivos móviles */
@media (min-width: 768px) {
    .submit-btn {
        /*padding: 10px 60px;*/
        background-color: #ccc;
        border: none;
        border-radius: 20px;
        cursor: not-allowed;
        font-size: 1.5rem;
        /* width: 48%; */
    }
    .progress-container {
        position: relative;
        width: 400px !important;  /*Ajusta el tamaño total de la barra de progreso aquí*/ 
        margin: 20px auto;  /*Centra la barra de progreso horizontalmente*/ 
    }

}
/* Media Query para dispositivos móviles */
@media (max-width: 768px) {

    .progress-container {
        position: relative;
        width: 450px !important;  /*Ajusta el tamaño total de la barra de progreso aquí*/ 
        margin: 20px auto;  /*Centra la barra de progreso horizontalmente*/ 
    }

    #main-header {
        text-align: center;
        height: auto;
        padding: 10px;
        justify-content: center;
    }
    #main-header img {
        margin-left: 0px;
    }

    #logo-header {
        float: none;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

    nav {
        float: none;
        text-align: center;
        margin-top: 10px;
    }

    nav ul {
        padding-right: 0;
    }

    nav ul li {
        display: block;
        line-height: initial;
    }

    #main-section {
        flex-direction: column;
        height: auto;
    }

    #main-section .section-left,
    #main-section .section-right {
        /*flex: none;*/
        /*width: 100%;*/
        height: auto;
    }

    #main-section .section-left img {
        width: 35%;
        height: auto;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
    }
    .form-control {
        text-align: left; /* Asegura que el texto esté alineado a la izquierda en móviles */
    }
    .submit-btn {
        width: 98%;
        padding: 10px 11.9px;
        display: inline-block;
        margin-right: 2.3%;
    }

    h2 {
        font-size: 26px !important;
        text-align: center;
    }

    .text-header {
        font-size: 24px;
    }

    .registrate-aqui {
        font-size: 20px;
        padding: 15px 15px 25px 15px;
    }

    /*.progress {
        position: relative;
        top:10px;
    }*/

    .progress-step {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .progress-bar {
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    .progress {
        margin-top: 15px !important;
    }

    .progress-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    /*top: -5px;*/
    }
    .circle.start1 {
    left: 0;
    background-color: #F37D2A;
    margin-top:15px;
    }
    .circle.middle1 {
    left: 50%;
    transform: translateX(-50%); /* Center the circle */
    background-color: #D9D9D9;
    margin-top:15px; 
    }
    .circle.end1 {
    right: 0;
    background-color: #D9D9D9;
    margin-top: 15px;
    }
    .circle.start {
    left: 0;
    margin-left: -1px;
    margin-top: 15px;
    }
    .circle.middle2 {
    left: 50%;
    transform: translateX(-50%);
    background-color: #F37D2A;
    margin-top: 15px;
    }
    .circle.end2 {
    right: 0;
    background-color: #D9D9D9;
    margin-top: 15px;
    }
    .circle.middle {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    }
    .circle.end3 {
    right: 0;
    background-color: #F37D2A;
    margin-right: -1px;
    margin-top: 15px;
    }
    .label.middle {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -15px;
    /* margin-top: -25px; */
    }
    .label.end {
    right: 25px;
    margin-top: 6px;
    }
    .section-right {
        padding-left: 0px;
    }
    
    /* Estilos específicos para el footer en dispositivos móviles */
    #main-footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        /*padding: 0px 0;*/
        height: 120px;
    }
    #main-footer p {
        margin-top: -10px;
        font-size:1.2rem;
        margin-right: 30px;
    }

    .footer-left, .footer-right {
        flex: 1;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .footer-right {
        margin-bottom: 10px;
        display: flex; /* Añadido */
        justify-content: center; /* Añadido */
        align-items: center; /* Añadido */
        margin-left: 26px !important; 
        margin-top: -10px;
        order: -1;
    }

    .footer-right a {
        /*margin: 0 41.5px;*/
        display: flex; /* Añadido */
        justify-content: center; /* Añadido */
        align-items: center; /* Añadido */
        margin-right: 12.5%;
    }
    .label {
        width: 20px;
        height: 20px;
        position: absolute;
        top: -10px;
    }
    .label.startf {
        left: -20px;
        margin-top: 0px;
    }
    .label.middlef {
        left: 50%;
        transform: translateX(-50%);
        margin-left: 0px;
        margin-top: 0px; 
    }
    .label.endf {
        right: 20px;
        margin-top: 0px; 
    }
    .instagram-button {
        background-color: #333333;
        color: white;
        padding: 10px 115px;
    }
}
@media only screen and (min-width: 1440px) {
    .label.start {
        /* left: 87px; */
        /* margin-top: -25px; */
    }
    .label.middle {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -17px;
        /* margin-top: -25px; */
    }
    .label.end {
        /* right: 150px; */
        /* margin-top: -20px; */
    }
    .label.startf {
        /* left: 87px; */
        margin-top: 0px;
    }
    .label.middlef {
        left: 50%;
        transform: translateX(-50%);
        margin-left: -17px;
        margin-top: 0px;
    }
    .label.endf {
        /* right: 150px; */
        margin-top: 5px;
    }
    .submit-btn {
        /* width: 49.5%; */
    }
}
@media only screen and (max-width: 480px) {
    .submit-btn{
        /* width: 100%; */
        padding: 10px 10.2px;
        display: inline-block;
        margin-right: 2.3%;
        }
}
@media (min-width: 2560px) {
    .submit-btn {
        width: 49.55%;
        /* padding: 10px 2%; */
    }
}
.input-wrapper {
    position: relative;
}

.input-wrapper input {
    padding-left: 30px; /* Ajusta el espacio para que el @ no se sobreponga al texto */
}

.input-wrapper::before {
    content: "@";
    position: absolute;
    left: 10px; /* Ajusta la posición horizontal del @ */
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d; /* Ajusta el color según tu diseño */
    font-size: 1rem; /* Ajusta el tamaño del @ según tu diseño */
}
